<h1><%= recipe.name %></h1>


<% if recipe.is_mod? %>
  <h2>by <%= recipe.user.name %>, modifies <%= link_to recipe.original.name, recipe.original %></h2>
<% else %>
  <h2>by <%= recipe.user.name %></h2>
<% end %>

<div class="row">

  <div class="span5">
    <table class="table table-striped well">
      <tr>
        <td>Coffee</td>
        <td><%= recipe.coffee %></td>
      </tr>
      <tr>
        <td>Coffee Amount</td>
        <td><%= recipe.coffee_amt %></td>
      </tr>
      <tr>
        <td>Coffee Amount</td>
        <td><%= recipe.coffee_amt %></td>
      </tr>
      <tr>
        <td>Water Amount</td>
        <td><%= recipe.water_amt %></td>
      </tr>
      <tr>
        <td>Water Temperature</td>
        <td><%= recipe.water_temp %></td>
      </tr>
    </table>
  </div>

  <div class="span5 offset1 well recipe-instructions">
    <p><%= recipe.instructions %></p>
  </div>

</div>