<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Coffee:</b>
  <%= @recipe.coffee %>
</p>

<p>
  <b>Coffee amt:</b>
  <%= @recipe.coffee_amt %>
</p>

<p>
  <b>Water amt:</b>
  <%= @recipe.water_amt %>
</p>

<p>
  <b>Water temp:</b>
  <%= @recipe.water_temp %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
