<p id="notice"><%= notice %></p>

<%= render partial: 'recipes/desc/title', object: @recipe %>

<div class="row"> 
  <%= render partial: 'recipes/desc/description', object: @recipe %>
</div>

<div class="row">
  <%= link_to 'Edit', modify_path(@recipe), class: "btn btn-info" %>

  <% if @recipe.is_mod? && @recipe.has_siblings? %>
    <%= render partial: 'recipes/desc/siblings', object: @recipe %>
  <% end %>
</div>